<md-toolbar layout="row" layout-align="center center">
  <div flex="70">
    <div layout="row" layout-align="space-between center">
      <md-button href="https://github.com/Swiip/generator-gulp-angular">TCG Builder</md-button>


      <div layout="row" layout-align="space-between center" flex="40">
        <md-button href="#">About</md-button>
        <md-button href="#">Learn to Play</md-button>
        <md-button>Contact</md-button>
      </div>
    </div>
  </div>
</md-toolbar>
