<div>
    <div layout="row">
        <header layout-fill>
            <acme-navbar creation-date="main.creationDate"></acme-navbar>
        </header>
    </div>
    <div layout="row" layout-align="center center">
        <md-content flex="70">
            <section>
                <div layout="row" layout-align="start center">
                    <div flex="40" layout="column">
                        <div layout="row" flex="100">
                            <h1>Vespiquen/Flareon</h1>
                        </div>
                    </div>
                    <div flex="15" layout="row" layout-align="space-between center">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-facebook"></i>
                        <md-button class="md-primary md-raised">Copy</md-button>
                    </div>
                </div>
            </section>

            <section layout="row" layout-align="space-between start">
                <div flex="55" layout="column">
                    <div>
                        <md-toolbar class="md-primary">
                            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                                <h2 class="md-flex">Pokemon</h2>

                                <h2 class="md-flex">28</h2>
                            </div>
                        </md-toolbar>
                        <md-content ng-href="/#/deckbuilder.html" layout-padding>
                            <div layout="row" layout-align="space-between center">
                                <div flex="5">
                                    <p>4</p>
                                </div>
                                <div flex="60">
                                    <p>Combee</p>
                                </div>
                                <div layout="row" layout-align="end center" flex="35">
                                    <div flex="90" layout="row" layout-align="end end">
                                        <small>AOR 9/98</small>
                                    </div>
                                    <div flex="10" layout="row" layout-align="end end">
                                        <small><i class="fa fa-list-ul"></i></small>
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="space-between center">
                                <div flex="5">
                                    <p>4</p>
                                </div>
                                <div flex="60">
                                    <p>Vespiquen</p>
                                </div>
                                <div layout="row" layout-align="end center" flex="35">
                                    <div flex="90" layout="row" layout-align="end end">
                                        <small>AOR 9/98</small>
                                    </div>
                                    <div flex="10" layout="row" layout-align="end end">
                                        <small><i class="fa fa-list-ul"></i></small>
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="space-between center">
                                <div flex="5">
                                    <p>4</p>
                                </div>
                                <div flex="60">
                                    <p>Eevee</p>
                                </div>
                                <div layout="row" layout-align="end center" flex="35">
                                    <div flex="90" layout="row" layout-align="end end">
                                        <small>AOR 9/98</small>
                                    </div>
                                    <div flex="10" layout="row" layout-align="end end">
                                        <small><i class="fa fa-list-ul"></i></small>
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="space-between center">
                                <div flex="5">
                                    <p>4</p>
                                </div>
                                <div flex="60">
                                    <p>Flareon</p>
                                </div>
                                <div layout="row" layout-align="end center" flex="35">
                                    <div flex="90" layout="row" layout-align="end end">
                                        <small>AOR 9/98</small>
                                    </div>
                                    <div flex="10" layout="row" layout-align="end end">
                                        <small><i class="fa fa-list-ul"></i></small>
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="space-between center">
                                <div flex="5">
                                    <p>4</p>
                                </div>
                                <div flex="60">
                                    <p>Unown</p>
                                </div>
                                <div layout="row" layout-align="end center" flex="35">
                                    <div flex="90" layout="row" layout-align="end end">
                                        <small>AOR 9/98</small>
                                    </div>
                                    <div flex="10" layout="row" layout-align="end end">
                                        <small><i class="fa fa-list-ul"></i></small>
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="space-between center">
                                <div flex="5">
                                    <p>1</p>
                                </div>
                                <div flex="60">
                                    <p>Jolteon</p>
                                </div>
                                <div layout="row" layout-align="end center" flex="35">
                                    <div flex="90" layout="row" layout-align="end end">
                                        <small>AOR 9/98</small>
                                    </div>
                                    <div flex="10" layout="row" layout-align="end end">
                                        <small><i class="fa fa-list-ul"></i></small>
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="space-between center">
                                <div flex="5">
                                    <p>1</p>
                                </div>
                                <div flex="60">
                                    <p>Mr. Mime</p>
                                </div>
                                <div layout="row" layout-align="end center" flex="35">
                                    <div flex="90" layout="row" layout-align="end end">
                                        <small>AOR 9/98</small>
                                    </div>
                                    <div flex="10" layout="row" layout-align="end end">
                                        <small><i class="fa fa-list-ul"></i></small>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </div>

                    <div>
                        <md-toolbar class="md-primary">
                            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                                <h2 class="md-flex">Trainers</h2>

                                <h2 class="md-flex">25</h2>
                            </div>
                        </md-toolbar>
                        <md-content ng-href="/#/deckbuilder.html" layout-padding>
                            <div layout="row" layout-align="space-between center">
                                <div flex="5">
                                    <p>4</p>
                                </div>
                                <div flex="60">
                                    <p>Professor Sycamore</p>
                                </div>
                                <div layout="row" layout-align="space-between center" flex="25">
                                    <p>More Details</p>

                                    <p>Set</p>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="space-between center">
                                <div flex="5">
                                    <p>4</p>
                                </div>
                                <div flex="60">
                                    <p>VS Seeker</p>
                                </div>
                                <div layout="row" layout-align="space-between center" flex="25">
                                    <p>More Details</p>

                                    <p>Set</p>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="space-between center">
                                <div flex="5">
                                    <p>4</p>
                                </div>
                                <div flex="60">
                                    <p>Ultra Ball</p>
                                </div>
                                <div layout="row" layout-align="space-between center" flex="25">
                                    <p>More Details</p>

                                    <p>Set</p>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-content>
                    </div>

                    <div>
                        <md-toolbar class="md-primary">
                            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                                <h2 class="md-flex">Energy</h2>

                                <h2 class="md-flex">7</h2>
                            </div>
                        </md-toolbar>
                        <md-content ng-href="/#/deckbuilder.html" layout-padding>
                            <div layout="row" layout-align="space-between center">
                                <div flex="5">
                                    <p>3</p>
                                </div>
                                <div flex="90">
                                    <p>Fire</p>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="space-between center">
                                <div flex="5">
                                    <p>4</p>
                                </div>
                                <div flex="90">
                                    <p>Double Colorless</p>
                                </div>
                            </div>
                        </md-content>
                    </div>
                </div>

                <md-content layout="row" layout-align="end center" flex="40">
                    <div layout="column" flex="60">
                        <img layout-fill src="../../assets/images/vespqiuen.jpg">
                            <p>Market Price</p>
                        <div layout="row" layout-align="space-between center">
                            <p>$2.99</p>
                            <p>Buy from TCG Player</p>
                        </div>
                        <md-button class="md-primary md-raised" flex="100">More Info</md-button>
                    </div>
                </md-content>
            </section>
        </md-content>
    </div>
</div>
